body{
font-family:Arial, sans-serif;
text-align:center;
width: 1000px;
margin:0 auto;
background:#f7f7f7;
}
#container{
  width:464px;
  height:527px;
  position:relative;
  margin-left:50px;
  background:url("backimg/wood01.jpg");
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
/*height 46 * 9 width 53 * 9 */
  /*height, widthともに50px余り*/
}
.komadai{
  width:464px;
  height:53px;
  position:relative;
  margin:10px 0 10px 50px;
  background:url("backimg/wood01.jpg");
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
.koma{
  width: 46px;
  height: 53px;
  background: url("backimg/cutedwood01.jpg");
  /*background:#FFFFCC;*/
  position:absolute;/*これを入れる親要素はposition:relativeにすること。*/
  border:1px solid black;
}
.koma:hover{
  background:#fbd92d;
}
.koma img{
  width:46px;
  height:53px;
}
.my img{
  filter:drop-shadow(3px 3px rgba(0,0,0,0.6));
}
.teki img{
  filter:drop-shadow(3px -3px rgba(0,0,0,0.5));
}
#btn{
  width:180px;
  height:30px;
  margin:20px 50px;
  text-align:center;
  line-height:30px;
  background:lightgreen;
  border-radius:5px;
  cursor:pointer;
}
#btn:hover{
  opacity:0.8;
}
