
/* utility */
.hidden {
    display: none;
}

/* adjusting position */
.container {
    position: relative;
    width: 810px;
    height: 540px;
    background: url("../img/sg_ban.jpg");
}


/* ban */
#ban-position {
    position: absolute;
    top: 86px;
    left: 243.5px;
    width: 324px;
    height: 351px;
}


/* komadai */
.komadai {
    position: absolute;
    width: 120px;
    height: 120px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.8);
}
#komadai-sente {
    top: 334px;
    right: 104px;
}
#komadai-gote {
    top: 70px;
    left: 107px;
}


/*textbox*/
.textbox {
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 125px;
    font-size: 14px;
    text-align: center;
}
.textbox#textbox-top {
    bottom: 55px;
    left: 53px;
}
.textbox#textbox-bottom {
    top: 60px;
    right: 54px;
}
.textbox .half_transparent {
    opacity: .3;
}

/* koma */
.koma {
    width: 36px;
    height: 39px;
    box-sizing: border-box;
    position: absolute;
    border: 0;
}
.koma:hover {
    background: #fbd92d;
}
.koma img {
    filter: drop-shadow(1px 1px rgba(0,0,0,0.6));
}
.koma.gote {
    -webkit-transform: rotate(-200deg);
}


/* modal */
#modal {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    transition:.4s;
    z-index: 3;
}
#modal-option {
    padding: 20px;
    border: 1px solid #ccc;
}


/* color */
.orange {
    background: orange;
    opacity: .5;
}
.red {
    background: red;
}
.red:hover {
    background: red;
}
