/*
駒
width 36px height 39px
盤
width 36 * 9 = 324px
駒台
width 129px
height 129px
*/
body{
font-family:Arial, sans-serif;
text-align:center;
width: 1000px;
margin:0 auto;
background:#f7f7f7;
}
main{
  width:810px;
  height:540px;
  background:url("backimg/sg_ban.jpg");
  position:relative;
}
#container{
}
#ban_shape{
  width:324px;
  height:351px;
  position:absolute;
  /*margin-top:86px;
  margin-left:15.5px;
  margin-right:17px;*/
  left:243.5px;
  top:86px;
  /*float:left;*/
  /*左 243.5px 上86px*/
}

.komadai{
  width:120px;
  height:120px;
  position:absolute;
  box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
#goteKomadai{
  /*margin-top:70px;*/
  /*margin-left:107px;*/
  top:70px;
  left:107px;
}
#senteKomadai{
  /*margin-top:334px;*/
  top:334px;
  right:106px;
}
.textbox{
  width:120px;
  height:125px;
  position:absolute;
  bottom:0;
}
#textbox1{
  bottom:55px;
  left:53px;
}
#textbox2{
  top:60px;
  right:54px;
}
.koma{
  width:36px;
  height:39px;
  position:absolute;
  box-sizing:border-box;
}
.koma:hover{
  background:#fbd92d;
}
.koma img{
  width:36px;
  height:39px;
}
.my img{
  filter:drop-shadow(1px 1px rgba(0,0,0,0.6));
}
.teki img{
  filter:drop-shadow(1px -1px rgba(0,0,0,0.5));
}
#btn{
  width:180px;
  height:30px;
  margin:20px 0;
  text-align:center;
  line-height:30px;
  background:lightgreen;
  border-radius:5px;
  cursor:pointer;
}
#btn:hover{
  opacity:0.8;
}
